<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Register</h1>
<img th:src="@{/images/taco.png}"/>
<form method="POST" th:action="@{/register}" id="registerForm">
    Username:
    <input type="text" name="username"/><br/>
    Password:
    <input type="password" name="password"/><br/>
    Confirm password:
    <input type="password" name="confirm"/><br/>
    Full name:
    <input type="text" name="fullname"/><br/>
    Street:
    <input type="text" name="street"/><br/>
    City:
    <input type="text" name="city"/><br/>
    State:
    <input type="text" name="state"/><br/>
    Zip:
    <input type="number" name="zip"/><br/>
    Phone:
    <input type="text" name="phone"/><br/>
    <input type="submit" value="Register"/>
</form>
</body>
</html>